@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}
* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1280px;
  margin: auto;
}

.logo:hover {
  scale: 1.2;
}

button {
  all: unset;
  padding: 6px 16px;
  background-color: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

button:hover {
  background-color: orangered;
  transition: all 0.3s ease-in-out;
  scale: 0.98;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

nav ul li {
  border-radius: 50px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

nav ul li:hover {
  background-color: lightslategrey;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero h1 {
  position: relative;
  top: -375px;
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
  animation: slideInH1 1s ease-in forwards;
}

@keyframes slideInH1 {
  to {
    top: 0;
  }
}

.hero p {
  font-weight: 600px;
  color: var(--gray);
  max-width: 400px;
}
.slide-in-P {
  transform: translateX(-132%);
  animation: slideInP 1s ease-in 1s forwards;
}
@keyframes slideInP {
  to {
    transform: translateX(0);
  }
}

.hero-btn {
  display: flex;
  gap: 40px;
}

.hero-btn button {
  font-size: 24px;
}

.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid var(--gray);
}
.secondary-btn:hover {
  background-color: lightgray;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons {
  display: flex;
  gap: 16px;
}

.brand-icons img:hover {
  scale: 1.2;
}

.hero-image {
  transform: translateX(118%);
  animation: slideInI 1s ease-in 2s forwards;
}
@keyframes slideInI {
  to {
    transform: translateX(0);
  }
}
.hero-image:hover {
  scale: 1.12;
}
