@keyframes drift{
    0%{
        left: 0px;
        top: 15px;  
    }
    25%{
        left: 628px;
        top: 15px;
        transform: rotate(90deg);
    }
    50%{
        left: 600px;
        top: 425px;
        transform: rotate(180deg);
    }
    75%{
        left: 0px;
        top: 425px;
        transform: rotate(270deg);
    }
    100%{
        left: 0px;
        top: 15px;
        transform: rotate(360deg);
        
    }
    
}
.container{
    border-top: 5px solid black;
    
    
}
.race-track{
    width: 43rem;
    height: 30rem;
    position: relative;
    border: 5px solid black;
    margin: 10px;
    align-items: center;
}
.car img{
    width: 10%;
    height: 10%;
    padding-top: 1%;
    padding-left: 1%;
    position: relative;

    animation: drift 5s ease-out 0s infinite normal;
}