@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

body,
html {
  margin-top: 0px;
  padding: 0px;
}

.container {
  position: relative;
  top: 0px;
  background-color: #f6e9e9;
  padding: 10px;
  display: flex;
  height: 100vh;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item {
  background-color: tomato;
  margin: 5px;
  padding: 5px;
  color: white;
}
