@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

.container {
  background-color: #e2e2e2;
  padding: 10px;
  display: grid;
  height: 100vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px 10px;

  grid-template-areas: 
  "header header header header"
  "sidebar content content content"
  "footer footer footer footer";
}

.item {
  background-color: tomato;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.item-1 {
    grid-area: header;
}

.item-2 {
    grid-area: content;
    background-image: url('https://images.alphacoders.com/927/thumbbig-927310.webp');
    background-size: contain;

.item-3 {
    grid-area: sidebar;
    background-image: url('https://images6.alphacoders.com/894/thumbbig-894685.webp');
    background-size: cover;
}

.item-4 {
    grid-area: footer;
    background-image: url('./images/cod.jpeg');
    background-size: cover;
}
