* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #19265b, #201d66, #01264f);
  color: #fff;
  overflow-y: hidden;
}   

.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}
.container h1 {
  font-weight: 500;
  font-size: 45px;
}
.container h1 span {
  color: #019f55;
  border-bottom: 5px solid #019f55;
  padding: 0 0 7px 0; /* padding-bottom: 7px; */
}

.display {
  width: 100%;
  margin: 50px 0 30px 0;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}
.display button #copy-icon {
  width: 30px;
  cursor: pointer;
  font-size: 40px;
}
.display input {
  border: 0;
  outline: 0;
  font-size: 24px;
}

.container button #generate-icon {
  width: 28px;
  margin-right: 10px;
  font-size: 40px;
}
.container button {
  border: 0;
  outline: 0;
  background: #019f55;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 300;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}
.container button:hover {
  background: #18ba43fe;
}
