.app {
    position: absolute;
    width: 500px;
    height: 483px;
    border: 1px solid;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  
  .theme-buttons {
    position: relative;
    background-color: rgba(0, 0, 0, 0.096);
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  #light-theme {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
  }
  
  #dark-theme {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgb(39, 39, 39);
    border: 1px solid;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
  }
  